API_BASE_URL=https://tz-transfers-c7c0c8f2.base44.app
DASHBOARD_API_URL=http://127.0.0.1:3000/api/dashboard-data
SENDER_CONFIG_API_URL=https://tz-transfers-c7c0c8f2.base44.app/sender-configurations
SEND_MONEY_API_URL=https://tz-transfers-c7c0c8f2.base44.app/send-money
