{% extends "base_app.html" %}
{% set active_page = "dashboard" %}
{% set page_title = "Dashboard" %}

{% block document_title %}TransferFlow Dashboard{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock %}

{% block page_content %}
  {% include "partials/dashboard_content.html" %}
{% endblock %}

{% block page_scripts %}
  <script src="{{ url_for('static', filename='dashboard-page.js') }}"></script>
{% endblock %}
