{% extends "base_app.html" %}
{% set active_page = "dashboard" %}
{% set page_title = "Dashboard" %}

{% block document_title %}WakalaAdmin Dashboard{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css', v='56') }}">
{% endblock %}

{% block page_content %}
  {% include "partials/dashboard_content.html" %}
{% endblock %}

{% block page_scripts %}
  <script defer src="{{ url_for('static', filename='dashboard-page.js', v='53') }}"></script>
{% endblock %}
