{% extends "base_app.html" %}
{% set active_page = "requests" %}
{% set page_title = "Requests" %}

{% block document_title %}WakalaAdmin Requests{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='requests.css') }}">
{% endblock %}

{% block page_content %}
  {% include "partials/requests_content.html" %}
{% endblock %}

{% block page_scripts %}
  <script defer src="{{ url_for('static', filename='requests-page.js', v='53') }}"></script>
{% endblock %}
